{%load static%} {% load i18n %} {% block head_title %} {%block css_files%}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'post/css/index.css' %}" />
<link rel="stylesheet" href="{% static 'post/css/nutrition.css' %}" />

{%endblock%} {% trans "SignIn" %}{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-5">
      <h3 class="text-center mb-4">{% trans "Sign In" %}</h3>

      <p class="text-center mb-4">
        {% blocktrans %}Welcome back to Footblog. To leave a comment, please log
        in. If you haven't created an account yet, please
        <a href="{{ signup_url }}" class="link text-primary">sign up</a>
        first.{% endblocktrans %}
      </p>

      <div class="card shadow-sm">
        <div class="card-body">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="form-group">{{ form.as_p }}</div>

            {% if redirect_field_value %}
            <input
              type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}" />
            {% endif %}

            <button type="submit" class="btn btn-primary btn-block">
              {% trans "Sign In" %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
