# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django specific
db.sqlite3
media/
static/

# Virtual environments
venv/
env/
env.py

# IDE files
.vscode/
.idea/

# Log files
*.log

# Node.js
node_modules/

# Coverage files
.coverage
*.cover

# Backup files
*.bak
*.swp
*.swo
