{%extends 'base.html' %} {%load static%} {%block css_files%}
<link rel="stylesheet" href="{% static 'post/css/index.css' %}" />
<link rel="stylesheet" href="{% static 'post/css/nutrition.css' %}" />

{%endblock%} {%block title%} {%endblock%} {%block content%}

<div class="base-section">
  <h3>{{post.title}}</h3>
  <ul>
    {%if health_tips%} {% for post in health_tips%}
    <li><strong>{{post.title}} </strong></li>
    <li>{{post.content}}</li>

    {%endfor%} {%else%}
    <p>Sorry no posts at the moment...</p>
    {%endif%}
  </ul>
</div>

{%endblock%}
