{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block css_files%}
    <link rel="stylesheet" href="" />
    {%endblock%} {%block title%}
    <title>Document</title>
    {% endblock%}
  </head>
  <nav class="navigation">
    <div class="logo">
      <a href="{% url 'home' %}"><span>Foot:blog</span></a>
    </div>

    <div class="center-links">
      <a href="{% url 'home' %}"> <span>Home</span></a>
      <a href=""> <span>About</span></a>
    </div>
    <div class="auth-links">
      <a href=""> <span>logIn</span></a>
      <a href=""> <span>logOut</span></a>
      <span></span>
    </div>
  </nav>
  <body>
    {%block content%} {%endblock%}
  </body>
</html>
