{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block css_files%}
    <link rel="stylesheet" href="" />
    {%endblock%} {%block title%}
    <title>Document</title>
    {% endblock%}
  </head>
  <nav class="navigation">
    <div class="logo"><a href="">logo</a></div>

    <div class="center-links">
      <a href="">About</a>
      <a href="">Contact Us</a>
    </div>
    <div class="auth-links">
      <a href="">logIn</a>
      <a href="">logOut</a>
    </div>
  </nav>
  <body>
    {%block content%} {%endblock%}
  </body>
</html>
